<a href="https://colab.research.google.com/github/Hemanthk408/Multiple-Disease-Prediction-Using-ML/blob/main/Multiple_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Disease pretecter

# diecase

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('/content/indian_liver_patient - indian_liver_patient.csv')
df

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [5]:
df.columns

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')

In [6]:
for i in df.select_dtypes(include='object').columns:
  print(i,df[i].unique())

Gender ['Female' 'Male']

In [7]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [9]:
data=pd.DataFrame(df)

In [10]:
duplicates = data.duplicated()

In [11]:
print(df[duplicates])

     Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
19    40  Female              0.9               0.3                   293
26    34    Male              4.1               2.0                   289
34    38  Female              2.6               1.2                   410
55    42    Male              8.9               4.5                   272
62    58    Male              1.0               0.5                   158
106   36    Male              5.3               2.3                   145
108   36    Male              0.8               0.2                   158
138   18    Male              0.8               0.2                   282
143   30    Male              1.6               0.4                   332
158   72    Male              0.7               0.1                   196
164   39    Male              1.9               0.9                   180
174   31    Male              0.6               0.1                   175
201   49    Male              0.6               0.1                   218

     Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
19                        232                         245             6.8
26                        875                         731             5.0
34                         59                          57             5.6
55                         31                          61             5.8
62                         37                          43             7.2
106                        32                          92             5.1
108                        29                          39             6.0
138                        72                         140             5.5
143                        84                         139             5.6
158                        20                          35             5.8
164                        42                          62             7.4
174                        48                          34             6.0
201                        50                          53             5.0

     Albumin  Albumin_and_Globulin_Ratio  Dataset
19       3.1                        0.80        1
26       2.7                        1.10        1
34       3.0                        0.80        2
55       2.0                        0.50        1
62       3.6                        1.00        1
106      2.6                        1.00        2
108      2.2                        0.50        2
138      2.5                        0.80        1
143      2.7                        0.90        1
158      2.0                        0.50        1
164      4.3                        1.38        1
174      3.7                        1.60        1
201      2.4                        0.90        1

In [12]:
data=np.duplicate(keep='first')

AttributeError: module 'numpy' has no attribute 'duplicate'

In [ ]:
df.duplicates()